body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: rgb(171, 140, 140);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #e4dede;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
  }
  
  li div {
    display: flex;
    align-items:center;
  }
  
  li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  li button {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: left 50px;
  }
  
  li button:hover {
    background: #c82333;
  }
  