body p {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: larger;
}
body h1 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border:2px solid gray ;
    }
    
.btn{
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 3px rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
}
.primary{
    background-color:rgb(0, 0, 0) ;
    color: rgb(255, 255, 255);
    border:20px solid gray;
    width: 50%;
}
button{
    margin-right: 8px;
}
.default{
 border:none; 
 border-radius: 10px; 
 padding: .8rem 1.5rem;
 width: 100px;
 background-color: beige;
}
