body p {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: larger;
}
body h1{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border:2px solid black ;
    width: auto;
}
.btn{
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.primary{
    border:5px solid black;
    width: 50%;
}
button{
    margin-right: 8px;
}
